 <div class="mainContent">
		<div class="wholecontent">	
				<article class="topcontent">	
					
<!-- 					<footer>
						<p class="post-info">This was posted on the 2nd of March 2014 by Christian Vasile</p>
					</footer> -->
					
					<content>
<h1>Tous les événements</h1>
   <% if user_signed_in? %>
    <%= link_to 'New Event', new_event_path %>
   <% end %>

   <table style="
     table-layout: fixed;
     width: 800px;">
  <tr>
    <th style="border: 1px solid black;
                     overflow: hidden;
                     width: 240px;">Titre</th>
    <th style="border: 1px solid black;
                     overflow: hidden;
                     width: 150px;">Début</th>
    <th style="border: 1px solid black;
                     overflow: hidden;
                     width: 150px;">Fin</th>
    <th style="border: 1px solid black;
                     overflow: hidden;
                     width: 70px;">Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td style="border: 1px solid black;
                     overflow: hidden;
                     width: 100px;"><%= event.title %></td>
    <td style="border: 1px solid black;
                     overflow: hidden;
                     width: 100px;"><%= event.startdate.strftime('%d-%m-%y  %H:%M ') %></td>
    <td style="border: 1px solid black;
                     overflow: hidden;
                     width: 100px;"><%= event.enddate.strftime('%d-%m-%y  %H:%M ') %></td>
    <td style="border: 1px solid black;
                     overflow: hidden;
                     width: 100px;"><%= event.location %></td>
       <% if user_signed_in? %>
        <td style="border: 1px solid black;
                     overflow: hidden;
                     width: 20px;"><%= link_to 'Show', event %></td>
        <td style="border: 1px solid black;
                     overflow: hidden;
                     width: 15px;"><%= link_to 'Edit', edit_event_path(event) %></td>
        <td style="border: 1px solid black;
                     overflow: hidden;
                     width: 60px;"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
  </tr>
<% end %>
</table>

<br />

					</content>
				</article>
		</div>
			
	</div>
	
	<footer class="mainFooter">
		<p>Copyright &copy; 2016 <a href="#">Ali Fakheri</a></p>
	</footer>
