<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.body.html_safe %>
</p>

<p>
  <b>Start:</b>
  <%= @event.startdate %>
</p>

<p>
  <b>End:</b>
  <%= @event.enddate %>
</p>

<p>
  <b>Langue:</b>
  <%= @event.speaking_languages %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
