<div class="mainContent">
  <div class="wholecontent">	
      <article class="topcontent">	
        <header>
          <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Horaire de prière</a></h2>
        </header>
        <content>
          <div>
            <p>Ci-dessous la liste des horaires de prières mensuel
            pour 2014-2014 pour la ville de Genève et les autres ville
            de la suisse.</p>
	    <p>Si vous habitez dans une ville autre que Genève,
	       veuillez ajuster l'horaire à l'aide de ce <%= link_to "document", "/assets/autre.pdf" %>.
            <dl>
              <dt>Ramadhan</dt>
              <dd><%= link_to "Ramadhan.pdf", "/assets/Ramadhan.pdf" %></dd>
              <dt>Shawal</dt>
              <dd><%= link_to "Shawal.pdf", "/assets/Shawal.pdf" %></dd>
              <dt>Dhul Qadda</dt>
              <dd><%= link_to "Dhul Qadda.pdf", "/assets/DhulQadda.pdf" %></dd>
              <dt>Dhulhajja</dt>
              <dd><%= link_to "Dhulhajja.pdf", "/assets/Dhulhajja.pdf" %></dd>
            </dl>
          </div>
          <p class='hidden'>Lore laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </content>
      </article>
  </div>
</div>

<footer class="mainFooter">
  <p>Copyright &copy; 2014 <a href="#">Ali Fakheri</a></p>
</footer>
