<!DOCTYPE html>
<html ng-app="Home">
<head>
  <title>Association Islamique d'Ahl-El-Bayt(s) de Suisse - Geneve</title>
  <!-- Important: We have removed default turbolink stuff. Also I've add -->
  <!-- controller_name so that home.js.coffee is loaded by default       -->
  <!-- all javascript files are added out there                          -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <%= csrf_meta_tags %>
</head>
<body  class="body">

		<%= image_tag "ahlebeyt_logo.png",:class => "logo" %>
	<header class="mainHeader">
		<nav>
		</nav>
	</header>
  <% if notice %> 
    <p class="alert alert-success"><%= notice %></p>
  <% end %> 
  <% if alert %> 
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
