<!DOCTYPE html>
<html ng-app="Home">
<head>
  <title>Association Islamique d'Ahl-El-Bayt(s) de Suisse - Geneve</title>
  <!-- Important: We have removed default turbolink stuff. Also I've add -->
  <!-- controller_name so that home.js.coffee is loaded by default       -->
  <!-- all javascript files are added out there                          -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <%= csrf_meta_tags %>
</head>
<body  class="body">

		<%= image_tag "ahlebeyt_logo.png",:class => "logo" %>
	<header class="mainHeader">
		<nav>
			<ul>
       <li class="<%= "active" if params[:controller] == "home" && params[:action] == "index" %>"><%= link_to "Accueil", home_index_path %></li>
			 <li class="<%= "active" if params[:controller] == "home" && params[:action] == "don" %>"><%= link_to "Don et Sadaqa",  home_don_path %></li> 
			 <li class="<%= "active" if params[:controller] == "home" && params[:action] == "about" %>"><%= link_to "A propos",  home_about_path %></li> 
			 <li class="<%= "active" if params[:controller] == "azan" && params[:action] == "index" %>"><%= link_to "Horaires de prières",  azan_index_path %></li> 
			 <li class="<%= "active" if params[:controller] == "events" && params[:action] == "index" %>"><%= link_to "Evénements",  events_path %></li> 
			 <li class="<%= "active" if params[:controller] == "home" && params[:action] == "contact" %>"><%= link_to "Nous contacter",  home_contact_path %></li> 
       <% if user_signed_in? %>
         <li><%= link_to "Profil",  edit_user_registration_path %></li> 
         <li><%= link_to "Logout",destroy_user_session_path, method: :delete %></li> 
       <% end %>
     <div id="user_nav">
     </div>
			</ul>
		</nav>
	</header>
  <% if notice %> 
    <p class="alert alert-success"><%= notice %></p>
  <% end %> 
  <% if alert %> 
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
